<header>
  <nav class="nav">
    <div class="mainMenu">
      <div class="nav-grid">
        <div class="nav-grid-left ps-fixed">
          <button class="nav-list-section-circle" (click)="open('navList')">
            <img src="../../assets/images/list.png" class="nav-img" alt="Navigation List Icon">
          </button>
        </div>
        <div class="nav-grid-center">
          <div class="nav-company-logo-section" (click)="open('home')">
            <h2>CRIOS</h2>
            <p class="txt-center">FREE PSD TEMPLATE</p>
          </div>
        </div>
        <div class="nav-grid-right ps-fixed">
          <button class="nav-list-section-circle" (click)="open('search')">
            <img src="../../assets/images/search.png" class="nav-img" alt="Search Icon">
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>