<!-- custom resubale modal -->
<app-modal id="modal">
  <h2 class="modal-title">Thanks for downloading our template!</h2>
  <p class="modal-description txt-center">Hope that you enjoy it will check also our site</p>
  <button class="btn btn-secondary" (click)="goToLink('https://www.symu.co')">www.symu.co</button>
</app-modal>
<!-- custom resubale modal end-->

<section id="banner">
  <div class="col-7 banner-content">
    <h1 class="sec-heading">Simple PSD template with cool stuff</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <div class="btn-footer">
      <a href="javascript:void(0)" class="btn" (click)="showModal()">View Modal</a>
    </div>
  </div>
</section>
<section id="offer" class="txt-center">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <h1 class="sec-heading">Lorem ipsum dolor sit amet</h1>
  <div class="row ">
    <div class="column">
      <div class="service-card">
        <div class="body txt-center">
          <img src="../../assets//images/c1.png" alt="website template image" class="icon">
          <h6 class="title">Lorem ipsum dolor sit amet</h6>
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="service-card">
        <div class="body txt-center">
          <img src="../../assets//images/c2.png" alt="website template image" class="icon">
          <h6 class="title">Lorem ipsum dolor sit amet</h6>
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="service-card">
        <div class="body txt-center">
          <img src="../../assets//images/c3.png" alt="website template image" class="icon">
          <h6 class="title">Lorem ipsum dolor sit amet</h6>
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="service-card">
        <div class="body txt-center">
          <img src="../../assets//images/c4.png" alt="website template image" class="icon">
          <h6 class="title">Lorem ipsum dolor sit amet</h6>
          <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-footer">
    <a href="javascript:void(0)" class="btn" (click)="showModal()">CHECK OUR OFFER</a>
  </div>
</section>
<section id="highlights">
  <div class="slider">
    <div class="col-6">
      <img src="../../assets//images/ic1.png" alt="Team Work in Los Angeles" width="100%" height="100%"
        title="Company Team Work" />
    </div>
    <div class="col-6 fl-right">
      <div class="section-content">
        <h2 class="sec-heading">Lorem ipsum dolor</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text.
        </p>
      </div>
    </div>
    <div class="col-6 fl-left">
      <div class="section-content">
        <h2 class="sec-heading">Lorem ipsum dolor</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text.
        </p>
      </div>
    </div>
    <div class="col-6">
      <img src="../../assets//images/ic2.png" alt="Team Work in Los Angeles" width="100%" height="100%"
        title="Company Team Work" />
    </div>
  </div>
</section>
<section id="grid5">
  <div class="slider">
    <div class="col-6">
      <div class="sec-img-left txt-center">
        <img src="../../assets//images/app1.png" alt="Team Work in Los Angeles" width="50%" height="50%"
          title="Company Team Work" />
      </div>
    </div>
    <div class="col-6 slider-text fl-right">
      <div class="section-content">
        <h2 class="sec-heading">Lorem ipsum dolor</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text.
        </p>
      </div>
    </div>
    <div class="col-6 slider-text fl-left">
      <div class="section-content">
        <h2 class="sec-heading">Lorem ipsum dolor</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text.
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="sec-img-right txt-center">
        <img src=" ../../assets//images/app2.png" alt="Team Work in Los Angeles" width="50%" height="50%"
          title="Company Team Work" />
      </div>
    </div>
  </div>
</section>
<section id="grid6">
  <div class="slider">
    <div class="col-6 slider-img txt-center">
      <div class="section-left">
        <img src="../../assets//images/user-photo.png" alt="Team Work in Los Angeles" width="50%" height="50%"
          title="Company Team Work" />
      </div>
    </div>
    <div class="col-6 slider-text fl-right">
      <div class="section-content">
        <h2 class="sec-heading">Template is awesome</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text.
        </p>
        <div class="section-author">
          <h5>John Doe</h5>
          <p>
            CEO at Cris.com
          </p>
        </div>
      </div>
    </div>
  </div>
</section>